@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');


:root{
    --PrimaryColorMain: hsl(25, 97%, 53%);
    --PrimaryColorNeutral: hsl(0, 0%, 100%);
    --SecondaryColorNeutral: hsl(217, 12%, 63%);
    --MediumGrey: hsl(216, 12%, 54%);
    --darkBlue: hsl(213, 19%, 18%);
    --VeryDarkBlue: hsl(216, 12%, 8%);
}


*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Overpass',sans-serif;
    width: 100%;
}
p{
    font-size: 15px;
}


.FormWrapper label{
    display: inline-block;
    border-radius: 30px;
    width: 50px;
    height: 50px;
    text-align: center;
    background-color: var(--VeryDarkBlue);
}
.FormWrapper label:hover{
    background-color: var(--PrimaryColorMain);
    cursor: pointer;
}
.FormWrapper input[type = "radio"]{
    display: none;
}

.FormWrapper input[type = "radio"]:checked + label{
    background-color: var(--MediumGrey);
}
.text{
    text-align: center;
    line-height: 50px;
    color: var(--PrimaryColorNeutral);
    
}



main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 1080px;
    background-color: var(--VeryDarkBlue);

    
}
.wrapper{
    gap: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: var(--darkBlue);
    height: 40%;
    width: 25%;
    padding-left: 30px;
    border-radius: 40px;
    
    
}
.wrapper > .topLogo{
    background-color: var(--MediumGrey);
    border-radius: 30px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 55px;
    margin-top: 10px;
}
.wrapper > .titleBox{
    text-align: left;
    
}
.titleBoxTitle{
    font-size: 36px;
    padding-bottom: 12px;
    color: var(--PrimaryColorNeutral);
}
#scriptTitle{
    color: var(--PrimaryColorNeutral);
    text-align: center;
    font-size: 36px;
    margin-left: 100px;
    display: none;
}
.titleBox > p{
    color: var(--SecondaryColorNeutral);
    
}
.FormWrapper{
    gap: 15px;
    display: flex;
    justify-content: space-between;
}
button{
    margin-top: 30px;
    width: 95%;
    border-radius: 35px;
    height: 40px;
    color: var(--PrimaryColorNeutral);
    background-color: var(--PrimaryColorMain);
    cursor: pointer;
}








/* SCRIPT EFFECT */
#photo2{
    display: none;
    margin-top: 0px;
    margin-left: 100px;
}
.titleBox > h2{
    font-size: 36px;
    padding-bottom: 12px;
    color: var(--PrimaryColorMain);
}
#selectedDesc{
    display: none;
    font-size: 15px;
    color: var(--PrimaryColorMain);
    text-align: center;
    margin-left: 90px;
    background-color: var(--MediumGrey);
    border-radius: 30px;
    width: 200px;
    height: 30px;
    line-height: 30px;
}
#titleBox2{
    display: flex;
    align-items: center;
    justify-content: center;
}
.descWrapper
{
    text-align: center;

}
#scriptDescription{
    display: none;
    margin-top: -30px;
    text-align: center;
    color: var(--MediumGrey);
}